
@font-face {
    font-family: "Lilongue";
    src: url(../fonts/Lilongue.ttf);
}

@font-face {
    font-family: "LilongueMono";
    src: url(../fonts/LilongueMono.ttf);
}

@font-face {
    font-family: "LilongueSansBold";
    src: url(../fonts/LilongueSansBold.ttf);
}


@font-face {
    font-family: "LilongueSnasBook";
    src: url(../fonts/LilongueSansBook.ttf);
}

@font-face {
    font-family: "LilongueSnasDisplayBold";
    src: url(../fonts/LilongueSansDisplayBold.ttf);
}

@font-face {
    font-family: "LilongueSnasDisplayThin";
    src: url(../fonts/LilongueSansDisplayThin.ttf);
}

@font-face {
    font-family: "LilongueSnasThin";
    src: url(../fonts/LilongueSansThin.ttf);
}

@font-face {
    font-family: "ARCHITYPERENNERBOLD";
    src: url(../fonts/ARCHITYPERENNERBOLD.ttf);
}

@font-face {
    font-family: "ARCHITYPERENNER";
    src: url(../fonts/ARCHITYPERENNER.ttf);
}

* {margin:0;padding:0;}
.p-ten{padding:10px;}
.pt-ten{padding-top:10px;}
.pb-ten{padding-bottom:10px;}
.pl-ten{padding-left:10px;}
.pr-ten{padding-right:10px;}
.p-thirty{padding:30px;}
.pt-thirty{padding-top:30px;}
.pb-thirty{padding-bottom:30px;}
.pl-thirty{padding-left:30px;}
.pr-thirty{padding-right:30px;}

body {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

p {
    font-family: LilongueSnasThin;
}

.top {
    background-color: rgb(230,70,56);
    height: 45px;
    line-height: 40px;
}

.top-logoArea {
    font-weight: bold;
    color: #fff; 
}

.top-logoArea a {
    display: block;
    padding: 3px 15px;

    font-weight: bold;
    text-decoration: none;
    color: #fff;;
}

.top-linksArea,
.top-logoArea {
    width: 50%;
    text-transform: uppercase;
}

.top-linksArea li {
    list-style: none;
}


.top-linksArea li a.active {
  background-color: #000;
}

.top-linksArea a {
    padding: 3px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
}

.top-linksArea a:hover {
    padding: 3px 15px;
    color: #fff;
    background-color: black;
    cursor: pointer;
}

.headerArea {
    background: rgba(105, 110, 105, 0.6);
    box-sizing: border-box;
    padding-top: 50px;
    width: 100%;
    min-height: 400px;  
}

.large-heading-section {
    background-image: url(../images/bg-1.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: auto;
}


.searchArea {
    background: rgba(245, 245, 242, 0.6);
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 35px;;
}

.searchArea p {
    color: #333;
}




.searchBTN {
    display: block;
    height: 36px;
    width: 100%;
    font-weight: bold;
    border: none;
    background: rgb(230,70,56);
    color: #fff;
    font-size: 1.3em;
}

.searchBTN:hover {
    display: block;
    cursor: pointer;
    border: none;
    background: #333;
    color: #fff
}

.searchArea-large {
    background: rgba(245, 245, 242, 0.6);
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 35px;
}

.advanced-search select {
   width: 100%;
   display: block;
   margin: auto;
   border: none;
   height: 35px;
}

.how-it-work {
    border: none;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    display: block;
    margin: auto;
    height: 35px;
    width: 200px;
    border-radius: 10px;
    line-height: 35px;
    font-weight: bold;
    font-size: 1.2em;
}

.how-it-work:hover {
    background-color: black;
    color: #fff;
    font-weight: bold;
}

.de-icon {
    display: block;
    width: 120px;
    text-align: center;
    margin: 25px auto 0 auto;
}

.large-icon {
  font-size: 4rem;
}

.txt-con {
    padding: 30px;
    text-align: justify;
    color: #888;
    font-weight: normal;
}

.border-top {
    border-top: solid 1px #ccc;
}

.border-right {
    border-right: solid 1px #ccc;
}

.border-bottom {
    border-bottom: solid 1px #ccc;
}

.border-left {
    border-left: solid 1px #ccc;
}

.use-cases {
    box-sizing: border-box;
    color: #000;
}

.case {
    background: beige;
    padding: 10px;

}

.case-info {
    min-height: 200px;
    text-align: left;
    color: #fff;
    width: 80%;
}



.case-info button {
     padding: 5px;
     margin: 20px 0;
     border: none;
}


.case-image-one {
    background-image: url(../images/locate-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.case-image-two {
    background-image: url(../images/event-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.info-one {
    background-color:rgb(242,118,88);
}

.info-two {
    background-color:rgb(149,165,166);
}

.info-three {
    background-color:rgb(51,153,223);
}


.my-footer {
    background-color: #333;
    padding-top: 30px;
    font-family: LilongueSnasThin;
}



.bottom-first-links li{
    width: 90%;
    margin: auto;
    list-style: none;
    text-align: center;
}

.bottom-first-links li a {
     color: #ccc;
     font-size: 0.8em;
     text-transform: uppercase;
     text-decoration: none;
     display: block;
}

.bottom-second {
 box-sizing: border-box;
 padding-top: 40px;
 width: 90%;
 margin: auto;
 min-height: 250px;
}

.border-all {
    border: solid 1px #333;
}

.subscription-input {
    flex:auto;
    background: #666;
    color: #ccc;
    font-size: 0.9em;
    color: #f9f9f9;
}

.subscription-btn {
    border: none;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    display: block;
    margin: auto;
    height: 35px;
    width: 160px;
    line-height: 35px;
    font-weight: bold;
}

.bottom-second h3 {
    margin-bottom: 10px;
    margin-top: 30px;
}

.last-bottom-wrap {
    background-color: #000;
}

.socials,
.copy-right-info,
.developer-info {
   padding: 15px 0;
   font-size: 0.8em;
}

.last-bottom {
    width: 90%;
    margin: auto;
}

.bradcrupms {
    color: tomato;
    padding: 15px 45px;
    letter-spacing: 1.2px;
    word-spacing: 2.1px;
}

/* earch-rusult(s) is differnt 
from search-result*/
.search-results {
    color: #000;
    text-align: center;
    font-size: 2.2rem;
}

.search-results span {
   text-decoration: underline;
}

.search-result {
   background: rgba(224, 108, 62, 0.6);
   width: 90%;
   margin: 15px auto;
}

.search-result-image img {
    width: 100%;
}

.search-result-text {
    padding: 20px;
    color: #000;
}

.learn-more {
    font-size: 1.1em;
}

.the-details {
    color: #000;
    width: 80%;
    margin: auto;
}

.event-center-name {
    color: #000;
    text-align: center;
    padding: 15px;;
}

.feature-wrap {
    box-shadow: 2px 2px 10px grey;
    padding: 30px;
}

.center-features p {
   box-sizing: border-box;
   box-shadow: 2px 2px 10px grey;
   width: 96%;
   padding: 20px;
   margin: 10px auto;
   min-height: 80px;
}

.center-features strong {
   color: #398;
}

.city-logo {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  height: 55px;
  width: 55px;
  line-height: 55px;
  border-radius: 50%;
  background-color: tomato;
  border: solid 3px #fff;
  box-shadow: 2px 2px 10px grey;
  text-align: center;
  margin: 20px;
}

.center-name-inner {
    font-weight: bold;
    
}

.full-description {
    text-align: justify;
    margin: 30px 0;
    font-family: Lilongue;
}

.map p {
    font-size: 2.1em;
    color: tomato;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 45px;
}

.map img {
   width:100%;
}

.map {
    margin-bottom: 30px;
 }

 .myForm {
     max-width: 600px;
     margin: 20px auto;
 }

 .myForm span,.myForm input {
     display: block;
     width: 98%;
     color: #666;
 }

.myForm input {
   margin: auto;
   border: none;
   border-bottom: dotted 3px #666;
   height: 30px;
   background-color: rgb(223,226,228);

}

.myForm span {
  padding-left: 6px;
  padding-top: 10px;
}

.Sign-in,
.Sign-up {
    border: none;
    display: inline-block;
    padding: 4px 6px; 
    margin-top: 20px; 
}

.Sign-in {
    background: rgb(225,34,15);
    color: #fff;
    margin-left: 5px; 
} 






 

